* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    background-color: aliceblue;
}
nav {
    width: 100%;
    color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;

}


a {
    width: 10%;
}
html {
    border: 3px solid black;
    text-align: center;
    list-style-type: none;

}
header {
    align-items: center;
    padding: 10px;
}
main {
    border: 10px solid grey;
    border-bottom: 0;
    padding: 20px;
    
}

footer {
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    border-bottom: 10px solid grey;
}
