html {
    background-color: #F5F5DC;
}
.head-blog {
    background-color: rgb(161, 157, 157);
    text-align: center;

}

.content-w {
    border: 5px solid black;
    padding: 1rem;
    margin: 10px;
}
.content-m {
    border: 5px solid black;
    padding: 1rem;
    margin: 10px;
}
.content-l {
    border: 5px solid black;
    padding: 1rem;
    margin: 10px;
}
h3 { 
    text-align:center;
}
.btn {
    text-align: center;
}