body {background-color:gray;
}

h4 {
    color:aqua;
    text-align: left;
}
p {
    font-family: Georgia;
}
h6 {
    color:aquamarine;
    text-align:left;
}
h3 {
  color: purple;
  text-align: center;
}
body {background-blend-mode: black;
}
h3 {color: sea-blue;
font-family: Times New Roman;
font-style: background-blend-mode;
font-size: 36xp;
}
h3{bottom:single-button}